.stackpanel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;

    /* If the width is 100vw and a vertical scroll bar
    exists, then a horizontal scroll bar appears too.
    This prevents that horizontal scroll bar */
    max-width: 100%;
}

.stackpanel > div {
    /* If the width is 100vw and a vertical scroll bar
    exists, then a horizontal scroll bar appears too.
    This prevents that horizontal scroll bar */
    width: 100vw;
    max-width: 100%;
}

.pages {
    display: flex;
    margin-top: calc(var(--page-margin-y) + var(--banner-height) + var(--header-height));
    justify-content: center;
}

.pages > div {
    width: 80%;
}